
h1{
    padding-bottom: 20px;
}
.slogan{
    text-align: center;
}
.form-group{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
.list-menu{
    text-align: left;
}

.footer p {
    padding-left: 300px;
    padding-top: 180px;
}

